body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(29, 12, 29);
}
#root{
  padding: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: blue;
  text-align: center;
  height: 75px;
}

