/* .sermon-title{
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 80px;
    color: red;
} */
.sermon-title {
    color: red;
}

.sermon-titles {
    color: rgb(162, 0, 255);
}

.card {
    margin: 5%;
    width: 500px;
}