.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.col {
    width: 100px;
}

.home-card {
    width: 100px;
}

.header-nav {
    font-size: 18px;
    display: inline-block;
    bottom:0;
    right:10%;
    color: white;
}

