.card-thingy {
    font-size: 25px;
    width: 300px !important;
    
}
image {
    height: 200px;
}
.card-thingy {
    color: rgb(110, 2, 124);
    font-family: 'Arapey', serif;
}
h2 {
    color: white;
    font-size: 40px;
    font-family: 'Arapey', serif;
}
h5 {
    color: red;
    font-size: 30px;    
}
h1 {
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(0, 0, 151);
}

.donate {
    background-color: white;
    align: center;
}

