.seven-sacraments {
    color: rgb(95, 106, 250);
    font-size: 24px;
    display: block;

    
}

.sacrament{
    color: white;
    font-size: 25px;
    font-family: 'Frank Ruhl Libre', serif;
}
.sacrament h1 {
    color: white;
    font-size:25px;
    font-family: 'Frank Ruhl Libre', serif;
}
