.header-style {
    background: url("https://i.ytimg.com/vi/6y-OAsRZbas/maxresdefault.jpg") no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    font-family: 'Playfair Display SC', serif;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    margin: 0;
    padding-top: 10%;
}

/* .aboutTitle{
    display: flex;
    justify-content: center;
    align-items: center;
} */
